:root {
  --text-color: #333333;
}

* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  background: #ffffff 0% 0% no-repeat padding-box;
}
[lang="ar"] {
  direction: rtl;
}
[lang="en"] {
  direction: ltr;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: clamp(750px, 970px);
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
}
.btns {
  width: 130px;
  height: 82px;
  font: normal normal medium 25px/38px Poppins;
  margin-bottom: 1rem !important;
  border-radius: 15px;
}
.btn-section {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 968px) {
  .btn-section {
    flex-direction: column;
    width: 100%;
  }
  .btns {
    width: 100%;
    height: 50px;
  }
}
/* header */
header .container {
  margin-top: 40px;
  margin-bottom: 40px;
}
header .lang-select {
  width: 160px;
  height: 56px;
  box-shadow: 0px 3px 6px #0000001a;
  padding: 0px 15px;
}
header .lang-select select {
  border: none;
}
header .logo {
  max-height: 108px;
  width: 100%;
  height: auto;
}
header .nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .nav a {
  padding: 0px 15px;
  width: 27px;
  height: 27px;
}
header .nav a:hover,
header .nav a:active {
  opacity: 0.4;
}

header .nav .cart-icon {
  position: relative;
  float: left;
  padding: 0;
}
header .nav .badge {
  border-radius: 50%;
  background-color: #d90412;
  font-size: 12px;
  color: white;
  padding: 0 3px;
  margin-left: 10px;
  vertical-align: top;
  position: absolute;
  right: -20%;
}
header .nav .toggle-menu {
  font-size: 22px;
}
@media (min-width: 768px) {
  header .nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header .nav .cart-icon,
  header .nav .profile,
  header .lang-select select {
    display: none;
  }
  header .lang-select {
    width: auto;
    box-shadow: none;
  }
}
/* landing */
.landing .container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.landing img {
  width: 100%;
  max-height: 349px;
  border-radius: 20px;
}
.landing.detail img {
  max-width: 780px;
  max-height: 466px;
  margin-left: auto;
  margin-right: auto;
}
/* main page content */
.content h1 {
  text-align: center;
  font: normal normal medium Poppins;
  color: #333333;
  text-transform: capitalize;
  font-size: 40px;
  margin-bottom: 0;
}
.content ul.path {
  text-align: center;
  padding: 0;
}
.content ul li {
  display: inline-flex;
  color: #e2725a;
  font: normal normal normal Poppins;
  font-size: 20px;
}
.content ul.path li:not(:last-child)::after {
  content: "<";
  color: #e2725a;
  padding: 0px 15px;
}

.content .classification {
  display: inline-flex;
  width: 100%;
  font: normal normal bold 20px/93px Poppins;
  color: #333333;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  flex-wrap: wrap;
}

.content .classification .active {
  color: #d31512;
  position: relative;
  width: max-content;
}
.content .classification .active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 80%;
  transform: translateX(-50%);
  border: 2px solid #d31512;
  background-color: #d31512;
}
/* main card */
.content .menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 20px;
}
.content .menu .card {
  min-width: 224px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
}

.content .menu:hover .card:not(:hover) {
  color: #d31512;
  filter: grayscale(80%);
}
/* card img */
.content .menu .card img {
  width: 100%;
}
/* card info */
.content .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 30px;
  width: 100%;
  flex-wrap: wrap;
}
.content .card .info {
  direction: rtl;
  padding: 15px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}
.content .info h2 {
  text-align: right;
  font-size: 18px;
  font: normal normal 600 Poppins;
  color: #333333;
  margin: 0;
}
.content .card .info h3 {
  text-align: center;
  font: normal normal bold Poppins;
  font-size: 20px;
  color: #333333;
}

.content .info p {
  text-align: right;
  font: normal normal normal Poppins;
  font-size: 16px;
  color: #333333;
  padding: 0;
}
.content .info span,
.content .panel span.price {
  text-align: left;
  font: normal normal medium Poppins;
  font-size: 18px;
  color: #85311b;
}

/* category menu */
.content .menu.categorie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
}

/* meal menu with add to cart */

.content .menu#details {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 25px;
}
@media (max-width: 767px) {
  .content .menu#details {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  }
}
.content .menu .card#details {
  display: flex;
}

.content .menu .card .img {
  overflow: hidden;
  position: relative;
  display: inline-flex;
}
@media (max-width: 767px) {
  .content .menu .card .img {
    min-height: 226px;
    display: block;
  }
}
.content .menu .card#details img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
/* icon formate */
.content .menu .card#details i.circle {
  position: absolute;
  padding: 0;
  background: #ffffff;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  width: 40px;
  height: 40px;
  bottom: 15px;
  left: 2%;
}
.content .menu .card#details i.add {
  left: calc(40px + 2% * 2);
}
.content .menu .card .sold-out {
  position: absolute;
  text-align: center;
  background-color: #d31512;
  width: 220px;
  color: #ffffff;
  font-size: 16px;
  transform: rotate(40deg);
  top: 20px;
  left: -15%;
}
@media (max-width: 767px) {
  .content .menu .card#details .img,
  .content .menu#cart .card#details .img {
    width: 100%;
    position: relative;
  }
}
@media (max-width: 992px) {
  .content .menu .card .sold-out {
    width: 120%;
    top: 7%;
    left: 25%;
  }
}
/* cart */
.content .menu#cart {
  grid-template-columns: 1fr fit-content(1100px);
}

.content .menu#cart .card {
  height: 505px;
}

.content .menu#cart .card .img {
  width: 28%;
  margin: 15px;
  border-radius: 10px;
}
.content .menu#cart .card#details img {
  height: 60%;
}

@media (max-width: 800px) {
  .content .menu .card#details,
  .content .menu#cart .card#details {
    min-width: 224px;
    height: auto;
    flex-direction: column;
    text-align: center;
  }
  .content .menu#cart .card .img {
    margin: 0;
  }
}

.content .menu#cart .info h2 {
  font-size: 24px;
}

.content .menu#cart .info .note {
  color: #e2725a;
  font-size: 20px;
  text-align: right;
  font: normal normal 600 Poppins;
}
.content .menu#cart .info textarea {
  width: 98%;
  height: 101px;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  text-align: right;
  font: normal normal normal Poppins;
  font-size: 18px;
}
.content #cart.menu .card .btn-section {
  margin-left: 0;
}
.content #cart.btn-section {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.content #cart.menu .card .btn-section .delete {
  height: 82px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font: normal normal 600 25px/38px Poppins;
  letter-spacing: 0px;
  color: var(--text-color);
  position: relative;
  background-color: white;
}
.content #cart.menu .card .btn-section i {
  vertical-align: middle;
  line-height: 0 !important;
  position: relative;
  top: -1px;
}
.content #cart.btn-section #nextBtn {
  background: #202020 0% 0% no-repeat padding-box;
  border-radius: 15px;
  height: 70px;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 30px;
}
.content #cart.btn-section .back {
  height: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 15px;
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  letter-spacing: 0px;
  color: #333333;
  margin-top: 30px;
  border: none;
}

/* propgress bar step */
#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 80px;
}
@media (max-width: 767px) {
  #stepProgressBar {
    width: 100%;
    padding: 15px;
  }
}
.step {
  text-align: center;
}

.step-text {
  margin-bottom: 10px;
  color: #333333;
}

.bullet {
  box-shadow: 0px 3px 6px #00000029;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 20px;
}

.bullet.completed {
  color: rgba(255, 255, 255, 0.158);
  background-color: #333333;
}

.bullet.completed::after {
  content: "";
  position: absolute;
  right: -60px;
  bottom: 10px;
  height: 1px;
  width: 54px;
  background-color: #333333;
}
/* details */
.content .cont {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  margin-top: 30px;
}
.order-form {
  padding: 18px;
}
.content .cont .order-form {
  flex-basis: 60%;
}

.content .cont .order-form .title {
  text-align: right;
  font: normal normal 600 25px/62px Poppins;
  color: var(--text-color);
  margin-top: 25px;
  letter-spacing: 0px;
}

.order-form .form-box textarea {
  height: 155px;
  width: 96%;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .content .cont {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .content .cont .order-form {
    padding: 0;
  }
  .content .cont .order-form .title {
    font-size: 20px;
  }
  .content .cont .group {
    padding: 0;
  }
}

.order-form .form-box .add {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 15px;
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  color: #333333;
}

.order-form .form-box .accordion {
  cursor: pointer;
  width: 100%;
  text-align: right;
  outline: none;
  transition: 0.4s;
  margin: 0;
}
.order-form .form-box .inner {
  width: 100%;
  height: 1px;
  margin: 0px auto;
  padding-top: 10px;
  border-bottom: 2px solid #252525;
}

.order-form .form-box .accordion:after {
  content: "\f077";
  color: #777;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

.order-form .form-box .active:after {
  transform: rotate(180deg);
}
.order-form .form-box .panel {
  background-color: white;
  display: none;
}
.order-form .form-box .panel.show {
  display: block !important;
}

.content .cont .review-list {
  flex-basis: 38%;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  height: 100%;
}
@media (max-width: 767px) {
  .contact .cont .review-list {
    text-align: center;
    display: flex;
  }
}
.content .cont .review-list .card {
  position: relative;
  font: normal normal normal Poppins;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content .cont .review-list ul {
  padding: 0;
}
.content .cont .review-list ul li {
  position: absolute;
  display: block;
  color: var(--text-color);
  font-size: 18px;
  padding: 15px;
  color: #333333;
  text-align: right;
}
.article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(107, 106, 106);
}

.content .cont .review-list ul li:last-child {
  border-bottom: none;
}

.content .cont .review-list .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}

.content .cont .review-list .profile-pic {
  width: 53px;
  height: 53px;
  border-radius: 100%;
}
.content .cont .review-list .reviow-body img {
  flex-basis: 60px;
}
.content .cont .review-list .reviow-body .rate {
  right: 10px;
}
.content .new-comment {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  font: normal normal medium Poppins;
  color: #85311b;
  border: none;
  display: block;
  margin: auto;
  font-size: 20px;
}

.content .overlay {
  position: fixed;
  top: 2%;
  bottom: 2%;
  display: none;
  text-align: center;
  z-index: 1;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
}
.content .overlay h2 {
  font: normal normal 600 Poppins;
  font-size: 29px;
  letter-spacing: 0px;
}
.content .overlay h3 {
  position: relative;
  font-size: 20px;
  font: normal normal normalPoppins;
  text-align: right;
  left: 20%;
}
span.star-active {
  color: #ffcc00;
}
span.star-inactive {
  width: 56px;
  height: 54px;
  color: #ffcc00;
  opacity: 0.7;
}
.content .overlay textarea {
  display: flex;
  justify-content: center;
  width: 56%;
  height: 20%;
  color: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #333333;
  border-radius: 15px;
}
.content .overlay .btn {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  color: #333333;
}
.content .overlay.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: overlay-grow 500ms forwards;
  width: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  left: 0;
}

/* checkout */

.shopping-cart .container {
  margin-top: 40px;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  max-width: 750px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.shopping-cart .item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  max-width: 750px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}
.quantity,
.bill {
  position: relative;
  padding-top: 30px;
  width: 30%;
  border-left: 1px solid rgb(107, 106, 106);
  font: normal normal 600 24px/25px Poppins;
  color: #333333;
}
.quantity .number-input {
  border: none;
}
.quantity .quantity {
  background: #f9f9f9 0% 0% no-repeat padding-box;
}
.meal {
  padding-top: 10px;
  font-size: 24px;
  font: normal normal 600 Poppins;
}

.total-price {
  padding-top: 27px;
  text-align: left;
  font-size: 18px;
  font: normal normal medium 18px/26px Poppins;
  letter-spacing: 0px;
  color: #85311b;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .meal {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}

.desc {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 0;
  margin-top: 20px;
  align-items: center;
}
.desc .main-input {
  width: 65%;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
.desc .check-btn {
  width: 30%;
  margin: 0;
  margin-bottom: 0;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 15px;
}

/* quantity */
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.number-input,
.number-input * {
  text-align: center;
}
.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0%;
  width: 2rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.number-input button:after {
  display: inline-block;
  font-weight: 900;
  content: "\2212";
}
.number-input button.plus:after {
  content: "\002B";
}
.number-input input[type="number"] {
  min-width: 3rem;
  padding: 0.9rem;
  border: none;
  font-size: 2rem;
  height: 3rem;
  text-align: center;
}

/* default full-width cells */
/* external css: flickity.css */

.carousel {
  background: rgb(201, 122, 122);
}

.carousel-cell {
  height: 228px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  /* half-width cells for larger devices */
  .carousel-cell {
  }
}
.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}
