@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600;700&display=swap");

:root {
  --mainColor: #333333;
}

* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  outline: none;
}
[lang="ar"] {
  direction: rtl;
}
[lang="en"] {
  direction: ltr;
}
body {
  font-family: Poppins, Tajawal, "sans-serif";
  font-weight: normal;
  font-style: normal;
  color: var(--mainColor);
  text-align: right;
}
:focus {
  outline: none;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.btn-center {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav .dropdown button {
  display: flex;
  box-shadow: 0px 3px 6px #0000001a;
  width: 120px;
  align-items: center;
  justify-content: space-around;
  left: 0;
}
nav .dropdown-menu {
  min-width: 120px;
  align-items: center;
  text-align: center;
  left: auto;
}

nav .material-icons-outlined {
  font-size: 28px;
}
nav a:not(:last-child) {
  padding-left: 15px;
}
nav .cart-icon {
  position: relative;
}
nav .cart-icon[data-count]::after {
  content: attr(data-count);
  position: absolute;
  right: 0%;
  font-size: 60%;
  padding: 0.6em;
  border-radius: 50%;
  line-height: 1em;
  color: white;
  background-color: #d90412;
  text-align: center;
  min-width: 1em;
}

@media (min-width: 768px) {
  nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  nav .nav-link {
    display: none;
  }
  nav .container {
    width: auto;
    padding-left: 0px;
    margin-left: 0;
  }
}
/* side  */
.nav__links {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 250px;
  background: #ffffff;
  transform: translateX(250px);
  transition: transform 0.3s;
  padding-top: 40px;
}

.nav--open .nav__links {
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: flex;
  align-items: center;
  color: #666666;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  padding: 12px 15px;
  background: transform 0.2s;
}

.nav__link > i {
  margin-right: 15px;
}

.nav__link--active {
  color: #009578;
}

.nav__link--active,
.nav__link:hover {
  background: #eeeeee;
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav--open .nav__overlay {
  visibility: visible;
  opacity: 1;
}
/* landing */
.landing .container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h1 {
  text-align: center;
  font: normal normal normal Poppins;
  color: #333333;
  font-size: 30px;
}
.content ul.path {
  text-align: center;
  padding: 0;
}
.content ul.path li {
  display: inline-flex;
  font: normal normal normal Poppins;
  font-size: 18px;
  color: #e2725a;
}
.content .nav-link {
  cursor: pointer;
}
.content .nav-link:hover {
  opacity: 0.8;
}
.content .nav-link.active {
  color: #d31512;
  position: relative;
  width: max-content;
}
.content .nav-link.active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 80%;
  transform: translateX(-50%);
  border: 1px solid #d31512;
  background-color: #d31512;
}
.content .menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 20px;
}
.content .menu .card {
  min-width: 224px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  transition: all 0.5s ease;
}
.content .menu .card:hover {
  transform: translateY(-10px);
}
.content .menu .card a:hover {
  color: #d31512;
}
.content .menu .card img {
  width: 100%;
  border-radius: 15px;
}
/* card info */
.content .group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  width: 100%;
  flex-wrap: wrap;
}
.content .card .info {
  direction: rtl;
  padding: 15px;
  display: block;
}
.content .info h2 {
  font-size: 18px;
  font: normal normal 600 Poppins;
  color: #333333;
  margin: 0;
  width: 50%;
}
.content .card .info h3 {
  text-align: center;
  font: normal normal bold Poppins;
  font-size: 20px;
  color: #333333;
}

.content .info p {
  text-align: right;
  font-size: 16px;
  color: #333333;
  padding-left: 15px;
}
.content .info span,
.content span.price {
  text-align: left;
  font-size: 16px;
  color: #85311b;
}
/* category menu */
.content .menu.categorie {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
}
.liner {
  width: 20%;
  height: 1px;
  padding-top: 10px;
  border-bottom: 2px solid #252525;
}

/* meal menu with add to cart */

.content .menu#details {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 20px;
}
@media (max-width: 767px) {
  .content .menu#details {
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  }
}
.content .menu .card .img {
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .content .menu .card .img {
    min-height: 226px;
    display: block;
  }
}

/* icon formate */
.content .menu .card .icon {
  position: absolute;
  bottom: 10px;
  left: 10%;
}
.content .menu .card .icon i.circle {
  background: #fcf8f8;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.content .menu .card .iconf i.circle:hover {
  color: #e2725a;
}
.content .menu .card .sold-out {
  position: absolute;
  text-align: center;
  background-color: #d31512;
  width: 220px;
  color: #ffffff;
  font-size: 16px;
  transform: rotate(40deg);
  top: 10%;
  left: 10%;
}
@media (max-width: 767px) {
  .content .menu .card#details .img,
  .content .menu#cart .card#details .img {
    width: 100%;
    position: relative;
  }
}
@media (max-width: 992px) {
  .content .menu .card .sold-out {
    width: 120%;
    top: 7%;
    left: 25%;
  }
}

/* details */
.content .cont {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  margin-top: 30px;
}

.content .cont .order-form {
  flex-basis: 58%;
}

.content .cont .order-form .title {
  text-align: right;
  font: normal normal 600 22px/62px Poppins;
  color: var(--mainColor);
  letter-spacing: 0px;
}
.order-form .form-box .accordion-header {
  position: relative;
}
.order-form .form-box .accordion-header div::after {
  content: "\e5cf";
  color: #333;
  top: -2px;
  left: 0px;
  position: absolute;
  font-family: "Material Icons Outlined";
}
.order-form .form-box .accordion-header div[aria-expanded="true"]::after {
  content: "\e5ce";
}
.order-form .form-box .accordion-body {
  padding: 15px;
}
.order-form .form-box textarea {
  height: 155px;
  width: 100%;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  border-radius: 15px;
  border: none;
  resize: none;
  padding: 15px;
}
@media (max-width: 767px) {
  .content .cont {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .content .cont .order-form {
    padding: 0;
  }
  .content .cont .order-form .title {
    font-size: 20px;
  }
  .content .cont .group {
    padding: 0;
  }
}

.order-form .form-box .add {
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 15px;
  text-align: center;
  font: normal normal 600 30px/46px Poppins;
  color: #333333;
}

.content .cont .review-list {
  flex-basis: 40%;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  height: 100%;
}
@media (max-width: 767px) {
  .contact .cont .review-list {
    display: flex;
  }
}

.article {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(107, 106, 106);
}

.content .cont .review-list ul li:last-child {
  border-bottom: none;
}

.content .cont .review-list .profile-pic {
  width: 53px;
  height: 53px;
  border-radius: 100%;
}
.content .cont .review-list .reviow-body img {
  flex-basis: 60px;
}
.content .cont .review-list .reviow-body .rate {
  right: 10px;
}
.content .new-comment {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  font: normal normal medium Poppins;
  color: #85311b;
  border: none;
  font-size: 20px;
  display: block;
}

.content .overlay {
  position: fixed;
  top: 2%;
  bottom: 2%;
  display: none;
  text-align: center;
  z-index: 1;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
}
.content .overlay h2 {
  font: normal normal 600 Poppins;
  font-size: 29px;
  letter-spacing: 0px;
  padding: 15px;
}
.content .overlay h3 {
  position: relative;
  font-size: 20px;
  font: normal normal normalPoppins;
  text-align: right;
  left: 20%;
}
span.star-active {
  color: #ffcc00;
}
span.star-inactive {
  width: 56px;
  height: 54px;
  color: #ffcc00;
  opacity: 0.7;
}
.content .overlay textarea {
  display: flex;
  justify-content: center;
  width: 56%;
  height: 20%;
  color: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #333333;
  border-radius: 15px;
}
.content .overlay .btn {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  color: #333333;
}
.content .overlay.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: overlay-grow 500ms forwards;
  width: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  left: 0;
}


.slick-prev:before {
  content: "\e5e0";
  color: #1a1616 !important;
  font-size: 30px;
  font-family: "Material Icons Outlined";
  
}

.slick-next:before {
  content: "\e5e1";
  color: #1a1616 !important;
  font-size: 30px;
  font-family: "Material Icons Outlined";
}

/* cart */
.content .menu#cart {
  grid-template-columns: 1fr fit-content(1100px);
}

.content .menu#cart .info h2 {
  font-size: 22px;
}

.content .menu#cart .info .note {
  color: #e2725a;
  font-size: 20px;
  text-align: right;
  font: normal normal 600 Poppins;
}
.content .menu#cart .info .notes {
  position: relative;
}

.content .menu#cart .info textarea {
  width: 98%;
  height: 100px;
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  resize: none;
  border: none;
}
.content .menu#cart .info .edit {
  top: 40px;
  left: 40px;
  position: absolute;
  color: var(--mainColor);
}

/* propgress bar step */
#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 50%;
  margin: 100px auto 40px;
}

.step {
  text-align: center;
  width: 20%;
  position: relative;
}
.step h5 {
  position: relative;
  right: 71px;
  top: -9px;
}

.step-text {
  margin-bottom: 10px;
  color: #333333;
}

.bullet {
  box-shadow: 0px 3px 6px #00000029;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  display: inline-block;
  transition: background-color 500ms;
  line-height: 20px;
  z-index: 3;
}
.step:not(:last-child) .bullet.completed::before {
  content: "\e5ca";
  top: 0px;
  left: 44%;
  position: absolute;
  font-family: "Material Icons Outlined";
}
.bullet.active {
  color: rgba(255, 255, 255, 0.158);
  background-color: #333333;
}
.step:not(:last-child) .bullet.active:after,
.step:not(:last-child) .bullet.completed:after {
  content: "";
  position: absolute;
  padding: 0px 84%;
  height: 1px;
  width: 100%;
  background-color: #333333;
  top: 10px;
  z-index: 0;
  right: 67%;
}
@media (max-width: 767px) {
  #stepProgressBar {
    width: 90%;
    padding: 15px;
  }
  .step h5 {
    right: 11px;
    width: 120px;
  }
}
/* checkout */

.check-out .container {
  max-width: 750px;
  box-shadow: 0px 3px 6px #61616129;
  border-radius: 25px;
}
.check-out table {
  vertical-align: center;
  text-align: center;
}
.check-out table tr:first-child td,
.check-out table tr:first-child th {
  border-top: none;
}
.check-out table th {
  border-left: 1px solid #dee2e6;
  padding-left: 0;
}

.zigzag-card {
  width: 350px;
  height: 404px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 20px;
  padding-top: 50px;
  margin: 25px auto 0;
  text-align: center;
}
.zigzag-card .card-body {
  margin: 15px auto;
  align-items: center;
}
.zigzag-card .card-body h3 {
  color: var(--mainColor);
  padding-bottom: 30px;
}
.zigzag-card .card-body p {
  color: #c2c2c2;
}

.zigzag1 {
  background-color: #ffffff;
}
.zigzag1:after {
  background: linear-gradient(-45deg, #333333 16px, transparent 0),
    linear-gradient(45deg, #333333 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 28px;
}
.zigzag2 {
  margin-top: -27px;
}
.zigzag2:after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0),
    linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
}
.side-color {
  color: #e2725a !important;text-align: center;
}
